# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/cop5522-project/FileContentIndex
/.vs/cop5522-project/v17/ipch/AutoPCH/b8635aa291491b48
/.vs/cop5522-project/v17/ipch/AutoPCH/cf99e56e98811bcb
/.vs/cop5522-project/v17/ipch/AutoPCH/e1d625dae574bf5e
/.vs/cop5522-project/v17
/.vs
/obj/x64/Debug
*.sln
*.vcxproj
*.filters
*.user
